@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
body{
    margin: 0;
    padding: 0;
    background: white;
    width: 96.5%;
}

.container {
    max-width : 100%;
    margin : 50px auto;
    position : relative;
    display : grid;
    margin-left : 30%;
    margin-right: 0px;
    padding-top : 100px;
    padding-left: 10px;
    padding-right: 0px;
    font-family : "Poppins", sans-serif;
}

h1 {
    padding : 10px;
    font-size : 24px;
    margin-bottom : 20px;
    margin-top : 20px;
}

.statistic {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.movie-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.movie {
    background-color: transparent;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    width: 220px;
    margin-bottom: 20px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.movie a {
    text-decoration: none;
}

.movie img {
    border-radius: 5px;
    width: 100%;
    height: auto;
}

.movie h2 {
    color: black;
    font-size: 18px;
    margin: 10px 0;
    display: block;
    white-space: normal;/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! text wrap !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
}

.movie p {
    font-size: 14px;
    color: #666;
}

::-webkit-scrollbar {
    height : 0px;
    width : 0;
}

::-webkit-scrollbar-track {
    background : transparent;
}

::-webkit-scrollbar-thumb {
    background : rgb(192, 190, 190);
    border : transparent solid 4px;
    border-radius : 10px;
}

.search {
    position : absolute;
    place-items : center;
    width : 24%;
    height : 40px;
    background-color : white;
    box-shadow : 0 4px 24px hsl(222 68% 12% / 0.1);
    border-radius : 50px;
    padding : 10px;
    margin-left : 5px;
    margin-top : 100px;
    overflow:hidden;
}

.search_input {
    border : none;
    outline : none;
    width : 93%;
    height : 100%;
    border-radius : 50px;
    font-weight : 500;
    font-size : 14px;
}

.search_button {
    width: 50px;
    height: 50px;
    background-color: midnightblue;
    border-radius: 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.search_button:hover {
    background-color : #88aed5;
}


.search_icon, .search_close {
    color : white;
    font-size : 1.5rem;
    position : absolute;
}

.search_close {
    opacity : 0;
}

.select-menu {
    position : absolute;
    width : 25%;
    margin : 180px 7px;
}

.select-type {
    position : absolute;
    width : 25%;
    margin : 180px 7px;
}

.select-watch {
    position : absolute;
    width : 25%;
    margin : 260px 7px;
}

.select-genre {
    position : absolute;
    width : 25%;
    margin : 420px 7px;
}

.select-year {
    position : absolute;
    width : 25%;
    margin : 340px 7px;
}

.select-menu .select-btn, .select-type .select-btn, .select-watch .select-btn, .select-genre .select-btn, .select-year .select-btn {
    font-family : "Poppins", sans-serif;
    display : flex;
    flex-wrap : wrap;
    height : 40px;
    background-color : white;
    padding : 10px;
    border-radius : 50px;
    font-weight : 500;
    font-size : 14px;
    align-items : center;
    cursor : pointer;
    justify-content : space-between;
    box-shadow : 0 4px 24px hsl(222 68% 12% / 0.1);
}

.select-menu .select-btn i, .select-type .select-btn i, .select-watch .select-btn i, .select-genre .select-btn i, .select-year .select-btn i {
    font-size: 20px;
    transition: 0.2s;
}

.select-menu.active .select-btn i, .select-type.active .select-btn i, .select-watch.active .select-btn i, .select-genre.active .select-btn i, .select-year.active .select-btn i {
    transform: rotate(-180deg);
}

.select-menu .options, .select-type .options, .select-watch .options , .select-genre .options-genre{
    position: relative;
    z-index: 1;
    padding : 20px;
    margin-top : 10px;
    width: 90%;
    border-radius : 20px;
    background-color : white;
    font-family : "Poppins", sans-serif;
    box-shadow : 0 4px 24px hsl(222 68% 12% / 0.1);
    display: none;
}

.select-menu.active .options, .select-type.active .options, .select-watch.active .options, .select-genre.active .options-genre{
    display: block;
}

.select-year .options-year {
    position : relative;
    z-index: 1;
    display : flex;
    flex-wrap : wrap;
    justify-content : center;
    gap : 10px;
    padding : 20px;
    margin-top : 10px;
    border-radius : 20px;
    background-color : white;
    font-family : "Poppins", sans-serif;
    box-shadow : 0 4px 24px hsl(222 68% 12% / 0.1);
    display: none;
}

.select-year.active .options-year{
    display: block;
}

.options .option, .options-genre .option-genre {
    display : flex;
    height : 60px;
    cursor : pointer;
    padding : 0 5px;
    border-radius : 20px;
    align-items : center;
    background-color : white;
}

.options-year .option-year {
    display : flex;
    flex-wrap : wrap;
    height : 40px;
    cursor : pointer;
    margin-left: 25%;
    margin-right: 25%;
    padding : 0px 2rem 0rem 2rem;
    border-radius : 20px;
    align-items : center;
    border : rgb(166, 164, 164) solid 2px;
    background-color : white;
}

.options .option:hover, .options-genre .option-genre:hover, .options-year .option-year:hover {
    background-color : whitesmoke;
    border : rgb(69, 65, 65) solid 2px;
}

.option i {
    font-size : 20px;
    margin-right : 5px;
}

.option-year input {
    width : 15vh;
    padding : 5px;
    height : 30px;
    margin-left: 0px;
    border-radius : 50px;
    box-sizing : border-box;
    text-align : center;
    border : none;
    outline : none;
    background-color : white;
}

.option-year input:hover {
    background-color : whitesmoke;
}

.apply-btn {
    display : block;
    margin : 30px auto;
    padding : 10px 20px;
    background-color : midnightblue;
    color : #fff;
    border : none;
    border-radius : 50px;
    font-size : 16px;
    cursor : pointer;
}

.buttons-container {
    position : relative;
    display : flex;
    margin-left: 28%;
}

.export-svg, .export-csv, .export-webp {
    display : block;
    margin : 30px auto;
    padding : 10px 20px;
    background-color : midnightblue;
    color : #fff;
    border : none;
    border-radius : 50px;
    font-size : 16px;
    cursor : pointer;
}

.apply-btn:hover {
    background-color : #88aed5;
}

.export-csv:hover, .export-svg:hover, .export-webp:hover {
    background-color : #88aed5;
}

@media screen and (max-width: 1200px) {
    .options-year .option-year {
        margin-left: 25%;
        margin-right: 25%;
        padding : 0px 0rem;
    }
}

@media screen and (max-width: 800px) {
    .movie img {
        width: 90%;
        height: 80%;
        border-radius: 5px;
    }

    .options-year .option-year {
        margin-left: 15%;
        margin-right: 15%;
        padding : 0px 0rem;
    }

    .option-year input {
        width : 10vh;
    }

    .container {
        margin-top : 150px;
    }

    .search {
        margin-top : 110px;
    }

    .select-menu {
        margin-top : 180px;
    }
}

@media screen and (max-width: 400px) {
    .options-year .option-year {
        margin-left: 10%;
        margin-right: 10%;
        padding : 0px 0rem;
    }
}

.no-results {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-weight: bold;
    font-size: 1.1rem;
    text-align: center;
    margin-top: 10px;
}