@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
body{
    margin: 0;
    padding: 0;
    background: white;
    width: 96%;
}

.container {
    max-width: 80%;
    margin-left: 15vh;
    margin-right: 5vh;
    padding: 5vh;
    font-family : "Poppins", sans-serif;
    margin-top: 60px;
}


.background-poster {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    background-size: cover;
    background-position: top center;
    border-radius: 10px;
}

.background-poster::before {
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
}

.poster {
    position: absolute;
    top: 23px; 
    left: 20px; 
    width: auto; 
    height: 90%;
    z-index: 1; 
    border-radius: 5px;
}

.movie-info {
    position: absolute;
    top: 0px;
    left: 60%;  
    transform: translateX(-50%);
    width: 90%; 
    max-width: 720px; 
    height: 90%; 
    padding: 20px;
    background-color: transparent; 
    color:white;
    z-index: 2;
    list-style-type: disc;
}

.movie-info li {
    margin-bottom: 15px; 
}

.movie-info h1,
.movie-info p {
    margin: 5px 0;
    font-weight: bold;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.movie-cast {
    display: flex;
    overflow-x: auto;
    flex-direction: row;
}

.actor {
    background-color: transparent;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    display: inline-block;
    min-width: 200px;
    margin-right: 20px;
}

.actor img {
    width: 70%;
    border-radius: 5px;
}

.actor h2 {
    font-size: 18px;
    margin: 10px 0;
}

.actor p {
    font-size: 14px;
    color: #666;
}

.movie-shot {
    background-color: transparent;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    display: inline-block;
    min-width: 500px;
    min-height: 100px;
    margin-right: 20px;
}

.movie-shot img {
    width: 100%;
    border-radius: 5px;
}

.movie-shot h2 {
    font-size: 18px;
    margin: 10px 0;
}

.movie-shot p {
    font-size: 14px;
    color: #666;
}

.video-gallery {
    display: flex;
    overflow-x: auto;
    flex-direction: row;
    gap: 0px;
    padding: 40px 0px;
}

.video {
    flex: 0 0 auto;
    text-align: center;
}

iframe {
    width: 600px;
    height: 320px;
}

.video h2 {
    font-size: 18px;
    margin: 10px 0;
}

.video p {
    font-size: 14px;
    color: #666;
}

::-webkit-scrollbar {
    height: 10px;
    width: 0px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(192, 190, 190);
    border-radius: 10px;
}

@media screen and (max-width: 1500px) {
    .background-poster::before {
        align-items: center;
        margin-top: 70px;
    }
    
    .poster {
        position: relative; 
        display: block;
        margin: 0 auto; 
        left: -4px; 
        max-width: 100%; 
        width: 200px; 
        height: auto;
        border-radius: 5px;
        margin-top: 20px;
    }

    .movie-info {
        text-align: center;
        margin-top: 450px;
    }

    .movie-info-container {
        text-align: center;
        margin-top: 20px;
    }

    .video-gallery {
        margin-top: 60vh;;
    }

    h1 {
        font-size: 18px;
    }

    .movie-info p {
        font-size: 14px;
    }
}

@media screen and (max-width: 1000px) {
    iframe{
        width: 380px;
        height: 270px;
        margin-right: -30px;
    }

    .movie-shot {
        margin-right: -100px;
    }

    .movie-shot img {
        width: 370px;
        height: 260px;
    }
}

@media screen and (max-width: 500px) {
    iframe{
        width: 300px;
        height: 200px;
        margin-right: -70px;
        margin-top: 8px;
    }

    .movie-shot {
        margin-right: -180px;
    }

    .movie-shot img {
        width: 300px;
        height: 200px;
    }
}